<div class="weather-list-container" fxLayout="column" fxLayoutGap="20px">
  @for (weather of weatherList; track weather.city; let i = $index) {
    <mat-card appearance="outlined" class="weather-card">
      <mat-card-content>
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <div fxFlex="66%" class="location-info">
            <div class="mat-headline-6 no-margin" data-testid="city">
              {{ weather.city }}, {{ weather.country }}
            </div>
            <div class="mat-subtitle-1 no-margin" data-testid="date">
              {{ weather.date | date: 'EEEE' }}<br>
              {{ weather.date | date: 'MMM d' }}{{ getOrdinal(weather.date) }}
            </div>
          </div>

          <div fxFlex fxLayout="row" fxLayoutAlign="end center" class="weather-info">
            <img
              data-testid="weather-icon"
              [src]="weather.image"
              [alt]="weather.description"
              class="weather-icon" />

            <div class="temperature-info">
              <p class="mat-headline-2 no-margin" data-testid="temperature">
                {{ weather.temperature | number: '1.0-0' }}
                <span class="mat-headline-4 unit">&#8457;</span>
              </p>
              <div class="mat-caption" data-testid="description">
                {{ weather.description }}
              </div>
            </div>

            <button
              mat-icon-button
              color="warn"
              (click)="removeWeather(i)"
              class="remove-button"
              data-testid="remove-weather">
              <mat-icon>close</mat-icon>
            </button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  }

  @if (weatherList.length === 0) {
    <div class="empty-state" fxLayout="column" fxLayoutAlign="center center">
      <mat-icon class="empty-icon">cloud_off</mat-icon>
      <p class="mat-headline-6">No saved locations</p>
      <p class="mat-body-1">Use the search above to find a location and add it to your list</p>
    </div>
  }
</div>
