<div fxLayout="column" style="margin-bottom: 16px">
  <form #searchForm>
    <mat-form-field
      appearance="outline"
      color="accent"
      data-testid="search-input"
      [ngClass]="search.value ? 'search-box-partial' : 'search-box-full'">
      <mat-label>City Name or Postal Code</mat-label>
      <mat-icon matPrefix>search</mat-icon>
      <input matInput aria-label="City or Zip" [formControl]="search" />
      <mat-hint>Specify country code like 'Paris, US'</mat-hint>
      @if (search.invalid) {
        <mat-error>Type more to search</mat-error>
      }
    </mat-form-field>
    @if (search.value) {
      <button
        mat-icon-button
        class="clear-button"
        data-testid="clear-button"
        (click)="searchForm.reset(); search.reset()">
        <mat-icon>close</mat-icon>
      </button>
    }
  </form>
  <div *ngIf="searchHistory.length > 0" class="search-history">
    <h3 fxLayoutAlign="center">Search History</h3>
    <div
      *ngFor="let item of searchHistory"
      class="search-history-item"
      (click)="selectHistoryItem(item)"
      (keydown)="onKeydown($event, item)"
      tabindex="0"
      fxLayoutAlign="center"
      style="margin: 10px 0">
      <button mat-raised-button>{{ item }}</button>
    </div>
    <button
      fxLayoutAlign="center"
      mat-flat-button
      (click)="clear_history()"
      style="width: 300px; height: 25px">
      Clear search history
    </button>
  </div>
</div>
