  
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-toggle {
    background-color: #e53c38;
    color: white;
    border: none;
    padding: 15px 50px;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #a72d25;
  }
  
  .dropdown-menu {
    display : none;
    position: absolute;
    top: 125%; /* Place le menu juste en dessous du bouton */
    right: 0%; /* Positionne le menu au centre horizontalement */
    text-align: center;
    background-color: #f44336;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #e4e4e4;
    width: 100%;
  }
  
  .dropdown-menu.show {
    display: block
  }