  
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-toggle {
    background-color: #e53935;
    color: white;
    border: none;
    padding: 15px 50px;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #a72d25;
    
  }
  
  .dropdown-menu {
    display : block;
    position: absolute;
    top: 115%;
    right: 0%;
    text-align: center;
    background-color: var(--mat-option-selected-state-label-text-color);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--mdc-outlined-card-outline-color);
    width: 100%;
    z-index: 1000;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    opacity: 0;
    visibility: hidden;
  }
  
  .dropdown-menu.show {
    opacity: 1;
    visibility: visible;
  }

  /*
  dynamic var :
  text : --mat-optgroup-label-text-color
  main background : --mdc-outlined-card-container-color
  secondary background (ex : Curent Weather) : --mdc-elevated-card-container-color
  couleur rouge principale : --mat-option-selected-state-label-text-color
  */
  